---
import Footer from "../components/Footer.astro";
import JobTimeline from "../components/JobTimeline.astro";
import Navbar from "../components/NavBar.astro";
import Project from "../components/Project.astro";
import Skill from "../components/Skill.astro";
import Layout from "../layouts/Layout.astro";

const SKILLS: Skill[] = [
	{
		name: "JavaScript",
		iconUrl: "/icons/javascript.png",
	},
	{
		name: "TypeScript",
		iconUrl: "/icons/typescript.png",
	},
	{
		name: "TailwindCSS",
		iconUrl: "/icons/tailwindcss.png",
	},
	{
		name: "React",
		iconUrl: "/icons/react.png",
	},
	{
		name: "HTML5",
		iconUrl: "/icons/html.svg",
	},
	{
		name: "CSS3",
		iconUrl: "/icons/css.svg",
	},
	{
		name: "NodeJS",
		iconUrl: "/icons/nodejs2.png",
	},
	{
		name: "Express",
		iconUrl: "/icons/expressjs.png",
	},
	{
		name: "PostgreSQL",
		iconUrl: "/icons/postgresql.png",
	},
	{
		name: "MongoDB",
		iconUrl: "/icons/MongoDB.png",
	},
	{
		name: "Git",
		iconUrl: "/icons/git.png",
	},
];

const PROJECTS: Project[] = [
	{
		title: "Rick and Morty APP",
		urlImg: "/image.png",
		description:
			"The app allows users to explore character cards from Rick and Morty by connecting directly to its official API. Additionally, it features a detailed view of each character when clicking on their card. It also includes a landing page with a controlled form that users must complete to access the main content.",
		link: "https://rick-and-morty-project-zeta-one.vercel.app",
		usedSkills: [
			{
				name: "JavaScript",
				iconUrl: "/icons/javascript.png",
			},

			{
				name: "React",
				iconUrl: "/icons/react.png",
			},
		],
	},
	{
		title: "Movie Search App",
		urlImg: "/project2(2).jpg",
		description:
			"This application allows users to search for movies by entering titles, connecting to an API to fetch results. Each movie includes relevant details such as a synopsis and release year. The interface is intuitive, with an attractive design, making it ideal for easily finding information about your favorite movies.",
		link: "https://movie-search-app-ffeh.vercel.app",
		usedSkills: [
			{
				name: "JavaScript",
				iconUrl: "/icons/javascript.png",
			},

			{
				name: "React",
				iconUrl: "/icons/react.png",
			},
		],
	},
	{
		title: "Loan Calculator",
		urlImg: "/project3(1).jpg",
		description:
			"The application calculates loan installments by entering the total amount, interest rate, and desired term. It provides clear and detailed results, showing how payments vary based on the parameters. With a clean design, it ensures ease of use for users of all levels.",
		link: "https://loan-calculator-app-c5dd.vercel.app",
		usedSkills: [
			{
				name: "JavaScript",
				iconUrl: "/icons/javascript.png",
			},
			{
				name: "CSS3",
				iconUrl: "/icons/css.svg",
			},
			{
				name: "React",
				iconUrl: "/icons/react.png",
			},
		],
	},
	{
		title: "Subscription Platform Tracker",
		urlImg: "/project4(1).jpg",
		description:
			"This app helps manage and organize all your digital subscriptions. It allows you to add services, costs, and payment dates, providing a detailed summary to track your expenses. It's perfect for avoiding missed payments and managing your finances with greater clarity.",
		link: "https://subscription-platform-tracker-5666.vercel.app",
		usedSkills: [
			{
				name: "JavaScript",
				iconUrl: "/icons/javascript.png",
			},
			{
				name: "CSS3",
				iconUrl: "/icons/css.svg",
			},
			{
				name: "React",
				iconUrl: "/icons/react.png",
			},
		],
	},
];
---

<Layout title="Pablo Andrada | FullStack Web Developer">
	<header
		id="inicio"
		class="h-dvh bg-[url('/fondo6.webp')] bg-cover bg-center flex flex-col justify-between">
		<Navbar />
		<div class="flex flex-col items-center gap-1">
			<h2
				class="text-xl md:text-2xl lg:text-3xl border-b border-custom-purple text-center">
				Welcome to my portfolio
			</h2>
			<h3 class="text-2xl md:text-3xl lg:text-4xl text-center">
				I am a Web Developer and my name is <span class="text-indigo-500"
					>Pablo Andrada</span
				>.
			</h3>
		</div>
		<div class="flex justify-center mb-10">
			<a href="#about" class="p-4 bg-custom-purple_darker rounded-full">
				<img
					src="/icons/down-arrow.svg"
					class="size-6 animate-bounce motion-reduce:animate-none"
					alt="Arrow"
				/>
			</a>
		</div>
	</header>
	<main>
		<section
			id="about"
			class="bg-gray-800 grid md:grid-cols-2 gap-8 p-6 md:p-12">
			<!-- Professional Skills Section -->
			<article class="flex flex-col justify-between gap-6">
				<h3 class="text-center text-xl md:text-2xl text-white font-bold">
					Professional Skills
				</h3>
				<div class="flex justify-center gap-2 flex-wrap">
					{SKILLS.map((skill) => <Skill skill={skill} />)}
				</div>
				<div class="flex flex-col gap-4 text-gray-300 p-4">
					<p class="text-base leading-relaxed">
						Full Stack Developer passionate about creating innovative and
						scalable solutions. With solid experience in modern technologies
						such as JavaScript, TypeScript, TailwindCSS, React, Node.js,
						Express, HTML, CSS, PostgreSQL, and version control with Git. My
						focus is on building robust and efficient applications.
					</p>
					<p class="text-base leading-relaxed">
						I've developed key skills like teamwork, communication,
						problem-solving, and time management. I have experience with agile
						methodologies (Scrum, Kanban) and quickly adapt to new environments,
						always focusing on delivering a great user experience and fostering
						a positive work culture.
					</p>
				</div>
				<div>
					<p class="text-xl font-semibold text-white mt-6">Education:</p>
					<ul class="list-inside pl-5 space-y-4 text-gray-300">
						<li class="flex items-start">
							<span class="mr-3 text-lg font-bold text-custom-purple">•</span>
							<div>
								<p class="text-lg font-semibold">
									Facultad de Matemáticas, Astronomía, Física, y Computación
									(FAMAF).
								</p>
								<p class="text-sm">2024 - Present.</p>
								<p class="text-sm">Bachelor's Degree in Computer Science.</p>
								<p class="text-sm">
									National University of Córdoba, Argentina.
								</p>
							</div>
						</li>
						<li class="flex items-start">
							<span class="mr-3 text-lg font-bold text-custom-purple">•</span>
							<div>
								<p class="text-lg font-semibold">HENRY academy.</p>
								<p class="text-sm">2023.</p>
								<p class="text-sm">Full Stack Developer.</p>
							</div>
						</li>
					</ul>
				</div>
			</article>

			<!-- Experience Section -->
			<article class="flex flex-col justify-between gap-6">
				<h3 class="text-center text-lg md:text-xl text-white font-bold">
					Experience
				</h3>
				<JobTimeline />
			</article>
		</section>

		<section
			id="projects"
			class="max-w-screen-lg mx-auto grid place-content-center gap-12">
			<div class="flex justify-center mt-8">
				<h3
					class="w-fit border-b border-b-custom-purple text-xl md:text-2xl lg:text-4xl font-semibold">
					Some of my projects:
				</h3>
			</div>
			<div class="w-full grid place-content-center gap-16">
				{
					PROJECTS.map((project, index) => (
						<Project project={project} index={index} />
					))
				}
			</div>
		</section>
		<section
			id="contact"
			class="mt-6 relative h-[610px] xs:h-[590px] sl:h-[540px] sm:h-[560px] lg:h-[610px]">
			<div
				class="rounded-lg bg-white shadow-2xl py-4 lg:py-8 px-4 mx-auto max-w-screen-md">
				<h2
					class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">
					Let's get in touch!
				</h2>
				<p
					class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
					If you have any questions, want to chat about a project, or just stop
					by to say hello, feel free to fill out the form below!
				</p>
				<form action="#" class="space-y-8">
					<div>
						<label
							for="email"
							class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
							>E-mail</label
						>
						<input
							type="email"
							id="email"
							class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
							placeholder="name@flowbite.com"
							required
						/>
					</div>
					<div>
						<label
							for="subject"
							class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
							>Subject line</label
						>
						<input
							type="text"
							id="subject"
							class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
							placeholder="Déjame saber en que puedo ayudar"
							required
						/>
					</div>
					<div class="sm:col-span-2">
						<label
							for="message"
							class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
							>Message</label
						>
						<textarea
							id="message"
							rows="6"
							class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							placeholder="Déjame un mensaje..."></textarea>
					</div>
					<button
						type="submit"
						class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-blue-700 sm:w-fit hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
						>Send message</button
					>
				</form>
			</div>
		</section>
	</main>
	<Footer />
</Layout>
